<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:player.properties"/>

    <bean id="musicBeanCLassic"
          class="by.shevko.springcourse.ClassicalMusic">
    </bean>
    <bean id="musicBeanRock"
          class="by.shevko.springcourse.RockMusic">
    </bean>

<!--    <bean id="musicPlayer"-->
<!--          class="by.shevko.springcourse.MusicPlayer">-->
<!--        <constructor-arg ref="musicBeanCLassic"/>-->
<!--    </bean>-->
    <bean id="musicPlayer"
          class="by.shevko.springcourse.MusicPlayer"  scope="prototype">
        <property name="music" ref="musicBeanRock"/>
        <property name="name" value="${musicPlayer2.name}"/>
        <property name="volume" value="${musicPlayer2.volume}"/>
<!--        <property name="name" value="rock player"/>-->
<!--        <property name="volume" value="5"/>-->
    </bean>
</beans>